// @keyframes appear {
//   from {
//     opacity: 0;
//     transform: scale(0.8);
//   }
//   to {
//     opacity: 1;
//     transform: scale(1);
//   }
// }

// .animation-block {
//   view-timeline-name: --appear;
//   view-timeline-axis: block;

//   animation-name: appear;
//   animation-duration: 1s;
//   animation-delay: 0.2s;
//   animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
//   animation-fill-mode: both;
//   animation-timeline: --appear;
//   animation-range: entry 10% cover 60%;
// }

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Apply animation only on medium screens and larger (e.g. 768px and up) */
@media (min-width: 768px) {
  .animation-block {
    view-timeline-name: --appear;
    view-timeline-axis: block;

    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    animation-fill-mode: both;
    animation-timeline: --appear;
    animation-range: entry 10% cover 60%;
  }
}

/* On smaller screens, disable animation */
@media (max-width: 767.98px) {
  .animation-block {
    animation: none !important;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-title-animation {
  opacity: 0;
  transform: translateY(-40px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.hero-title-animation.animate {
  animation: fadeInDown 0.8s ease-out forwards;
}

@keyframes modalFadeInUp {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-open-animation.animate {
  animation: modalFadeInUp 0.8s ease-out forwards;
}

@keyframes backdropFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-backdrop {
  animation: backdropFadeIn 0.4s ease forwards;
}
