@use "./variable.scss";

.logo-img {
  width: 100px;
}

.navbar {
  position: relative;
}

.nav-item {
  position: relative;
  li {
    &:hover {
      color: variable.$primary;
    }
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 36px);
  width: 100%;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 32px 0;
  &-collapsed {
    display: none;
  }

  &-expanded {
    display: block;
  }
}

.service-menu-dropdown {
  background-color: variable.$lightPrimary;
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: 9999;
  color: #fff;
  height: max-content;
  width: 400px;
  li {
    color: variable.$primary;
    &:hover {
      background-color: variable.$primary;
      color: variable.$white;
    }
  }
}
